In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [4]:
clean_data_df = pd.read_csv("clean_data.csv")
clean_data_df

,age,sex,height,weight,qrs_duration,p-r_interval,q-t_interval,t_interval,p_interval,qrs,heart_rate,diagnosis,arr_diagnosis
0,75,0,190,80,91,193,371,174,121,-16,63,8,0
1,56,1,165,64,81,174,401,149,39,25,53,6,0
2,54,0,172,95,138,163,386,185,102,96,75,10,0
3,55,0,175,94,100,202,380,179,143,28,71,1,1
4,75,0,190,80,88,181,360,177,103,-16,0,7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,53,1,160,70,80,199,382,154,117,-37,63,1,1
448,37,0,190,85,100,137,361,201,73,86,73,10,0
449,36,0,166,68,108,176,365,194,116,-85,84,2,0
450,32,1,155,55,93,106,386,218,63,54,80,1,1
451,78,1,160,70,79,127,364,138,78,28,75,1,1

In [5]:
# male = 0, female = 1, arr_diagnosis = 1
# Drop all rows with 0 in arr_diagnosis
afib_clean_df = clean_data_df[clean_data_df.arr_diagnosis != 0]
afib_clean_df

,age,sex,height,weight,qrs_duration,p-r_interval,q-t_interval,t_interval,p_interval,qrs,heart_rate,diagnosis,arr_diagnosis
3,55,0,175,94,100,202,380,179,143,28,71,1,1
6,40,1,160,52,77,129,377,133,77,77,70,1,1
7,49,1,162,54,78,0,376,157,70,67,67,1,1
8,44,0,168,56,84,118,354,160,63,61,64,1,1
11,45,1,165,86,77,143,373,150,65,12,72,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,45,0,175,75,91,134,376,160,83,91,70,1,1
446,20,1,157,57,81,151,363,166,80,43,75,1,1
447,53,1,160,70,80,199,382,154,117,-37,63,1,1
450,32,1,155,55,93,106,386,218,63,54,80,1,1
451,78,1,160,70,79,127,364,138,78,28,75,1,1

In [14]:
# age, bins or means?
bins = [0,59,100]
labels = ["under 60", "over 60"]
afib_clean_df["age_group"]=pd.cut(afib_clean_df["age"],bins, labels=labels)
afib_clean_df

<ipython-input-14-89b34d530585>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  afib_clean_df["age_group"]=pd.cut(afib_clean_df["age"],bins, labels=labels)

,age,sex,height,weight,qrs_duration,p-r_interval,q-t_interval,t_interval,p_interval,qrs,heart_rate,diagnosis,arr_diagnosis,age_group
3,55,0,175,94,100,202,380,179,143,28,71,1,1,under 60
6,40,1,160,52,77,129,377,133,77,77,70,1,1,under 60
7,49,1,162,54,78,0,376,157,70,67,67,1,1,under 60
8,44,0,168,56,84,118,354,160,63,61,64,1,1,under 60
11,45,1,165,86,77,143,373,150,65,12,72,1,1,under 60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,45,0,175,75,91,134,376,160,83,91,70,1,1,under 60
446,20,1,157,57,81,151,363,166,80,43,75,1,1,under 60
447,53,1,160,70,80,199,382,154,117,-37,63,1,1,under 60
450,32,1,155,55,93,106,386,218,63,54,80,1,1,under 60
451,78,1,160,70,79,127,364,138,78,28,75,1,1,over 60

In [15]:
age_groups = afib_clean_df.groupby("age_group")["age"].count()
age_groups

age_group
under 60    197
over 60      48
Name: age, dtype: int64

In [16]:
expected = [0.84 * 245, 0.16 * 245]

In [17]:
# of freedom 2-1=1
critical_value = stats.chi2.ppf(q = 0.95, df = 1)
critical_value

3.841458820694124

In [21]:
stats.chisquare(age_groups, expected)

Power_divergenceResult(statistic=2.351797862001941, pvalue=0.1251386103557257)