In [10]:
# Import Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [11]:
# Use Pandas to read data
clean_data = "clean_data.csv"
clean_data_df = pd.read_csv(clean_data)
clean_data_df.head()

,age,sex,height,weight,qrs_duration,p-r_interval,q-t_interval,t_interval,p_interval,qrs,heart_rate,diagnosis,arr_diagnosis
0,75,0,190,80,91,193,371,174,121,-16,63,8,0
1,56,1,165,64,81,174,401,149,39,25,53,6,0
2,54,0,172,95,138,163,386,185,102,96,75,10,0
3,55,0,175,94,100,202,380,179,143,28,71,1,1
4,75,0,190,80,88,181,360,177,103,-16,0,7,0